.cartcardwrapper{
    display : flex; 
    width: 65%;
    position: relative;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 30 30 30 30;
    margin-top: 70px;
}
.paperContainer{
    height: 200px;
    background-color: white;
    padding-top: 50px;
    padding-left: 20px;
}
.CartRoot{
    background-color : #f0f0f5;
    position: relative;
    display: flex;
    padding: 10px;
}
.sideBox{
    width: 30%;
    position: fixed;
    height: 200px;
    top: 80px;
    right: 0;
}
.CheckoutBox{
    display: flex;
    flex-direction: column;
    height: 200px;
    padding-top : 30px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.textwide{
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    width: 80%;
}
.checkoutbtn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cardflat{
    display: flex;
    background-color: white;
    width: 100%;
    align-items: center;
    border-bottom: 2px solid #f4f4f4;
}

.cartrate{
    width: 10%;
}
.cartsel{
    width: 15%;
}



.cartname{
    display : flex ; 
    width : 100%;
    background-color: #f4f4f4;
}
.cartitemname{
    flex : 1;
}

.shoppingcartname{
    display : flex ; 
    width : 100%;
    height: 46px;
    background-color : white;
    align-items: center;
    align-content: center;
}
.cartbuton{
    display: flex;
    align-content: center;
    align-items: center;
}
.contshop{
    display : flex ; 
    width : 100%;
    height: 46px;
    background-color : white;
    align-items: center;
    align-content: center;
}


@media screen and (max-width : 600px ){
    .CartRoot{ 
        flex-wrap : wrap;
    }
    .cartcardwrapper{
        width : 100%;
    }
    .sideBox{
        position: static;
        width : 100%;
    }
    .cartname{
        display: hide;
        width: 94%;
    }
}